@import './theme.scss';
@import './reset.css';
@import './iconfont.css';

.playerBox:hover .controlBox {
  transform: translateY(0%);
}

.playerBox {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  box-sizing: border-box;
  user-select: none;
  overflow: hidden;
  .loading, .playStatus {
    width: 100%;
    height: 100%;
    // background: $blackTranslucent;
    // position: absolute;
    // top: 0;
    // left: 0;
    // display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
    .icon {
      font-size: 60px;
      color: white;
      z-index: 1;
    }
    .icon-loading {
      animation: loading 1.5s linear infinite;
      display: inline-block;
      color: white;
    }
    @keyframes loading {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
  video {
    width: 100%;
    height: 100%;
    background: black;
    position: absolute;
    top: 0px;
  }
  .controlBox {
    width: 100%;
    height: 60px;
    background: $blackTranslucent;
    position: absolute;
    bottom: 0px;
    left: 0;
    color: white; 
    box-sizing: border-box;
    padding: 0px 20px;
    transition: all 0.3s linear;
    // transform: translateY(91%);
    // opacity: 0; 
    .panel {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: calc(100% - 5px);
      margin-top: 5px;
    }
    span {
      vertical-align: middle;
    }
    .icon {
      font-size: 20px;
      margin: 0 10px;
    }
    .play {
      .icon {
        margin: 0 5px;
      }
    }
    .icon-tingzhi, .icon-kongzhi, .icon-camera1 {
      font-size: 24px;
    }
    .icon-caret-right {
      font-size: 28px;
    }
    .icon-caret-right, .icon-tingzhi {
      width: 30px;
      text-align: center;
      display: inline-block;
    }
    .fullscreen {
      font-size: 28px;
    }
    .progressBox {
      width: 100%;
      height: 5px;
      position: absolute;
      top: 0;
      left: 0;
    }
    .progressLine {
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, .5);
      .progress {
        width: 0%;
        height: 100%;
        background: $primaryColor;
        position: absolute;
        top: 0px;
        left: 0%;
        z-index: 1;
      }
      .preload {
        width: 0%;
        height: 100%;
        background: $preloadColor;
        position: absolute;
        top: 0px;
        left: 0%;
        // transition: width 1s linear;
      }
    }
    .progressBar {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: $white;
      position: absolute;
      top: -3px;
      z-index: 1;
      border: 2px solid $primaryColor;
    }
    .volume {
      margin-right: 10px;
    }
    .volumeBox {
      width: 120px;
      height: 5px;
      margin-right: 20px;
      position: relative;
      .progressLine {
        border-radius: 5px;
        overflow: hidden;
      }
      .progress {
        width: 50%;
      }
      .progressBar {
        left: 50%;
      }
    }
    .play {
      margin-right: 15px;
    }
    .duration {
      span {
        &:nth-of-type(2) {
          margin: 0 5px;
        }
      }
    }
    .left, .right {
      display: flex;
      align-items: center;
    }
  }
  .controls {
    width: 200px;
    padding: 10px;
    z-index: 10;
    background: $blackTranslucent;
    border-radius: 10px;
    position: absolute;
    bottom: 120%;
    left: 80%;
    font-size: 14px;
    li {
      display: flex;
      flex: 1;
      flex-direction: column;
      &:nth-child(2) {
        .content {
          display: flex;
          flex: 1;
          flex-wrap: wrap;
        }
      }
    }
    .playMode {
      color: white;
      width: 78px;
      padding: 5px;
      background: $primaryColor;
      margin-right: 10px;
      margin-top: 10px;
      border-radius: 5px;
      text-align: center;
    }
  }
  .setting-panel {
    position: absolute;
    bottom: 50px;
    right: 40px;
    z-index: 1;
    background: $blackTranslucent;
    color: white;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0;
    display: none;
    li {
      width: 100%;
      height: 30px;
      line-height: 30px;
      font-size: 14px;
      display: flex;
      justify-content: space-evenly;
      span {
        vertical-align: middle;
        &:nth-of-type(2) {
          font-size: 16px;
        }
      }
      &:hover {
        background: $primaryColor;
        color: white;
      }
    }
  }
}
ul {
  width: 60px;
  padding: 5px 0;
  position: absolute;
  bottom: 50px;
  right: 60px;
  background: $blackTranslucent;
  color: white;
  display: none;
  transition: all 0.3s linear;
  li {
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    display: flex;
    justify-content: space-evenly;
    &:hover {
      background: $primaryColor;
      color: white;
    }
  }
}